<!DOCTYPE html>
<html  >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="">
  
  <title>Arabic Dialect Identification</title>
  <link rel="stylesheet" href="../static/tether/tether.min.css">
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="../static/socicon/css/styles.css">
  <link rel="stylesheet" href="../static/theme/css/style.css">
  <link rel="preload" as="style" href="../static/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="../static/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>

<body>
  
  <section class="form1 cid-sJxsn3raMG mbr-fullscreen mbr-parallax-background" id="form1-k">

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(169, 218, 242);background-image: url('../static/images/mbr-1920x1080.jpg');background-size: 100% 100%;"></div>
    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="/predict" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="MXFLrxSSNPk6s0llmT1Ziq1HUpHCVBfZtvvp7NWWTFKxSZN+z5C7PPuSL35CJG+9LzkDLeTTK5Q6/XdMVUOE9u7Ram/KGg+/+kBOF142FOBjgtj9ye7SeScwaWJ/vlmm">
                    <div class="">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling
                            out the form!</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...! some
                            problem!</div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-12">
                            <h1 class="mbr-section-title mb-4 display-2"><strong>Arabic Dialect Identification </strong><br><div></div><br><div>(<strong><em> AIM Technologies</em></strong>)</div></h1>
                        </div>
                        <div class="col-12">
                            <p class="mbr-text mbr-fonts-style mb-5 display-7">Start with Enter The Tweet and Predict Which Dialect by Using LinearSVC Classifier and Balanced Class Weight Model</p>
                        </div>
                        <div class="col-md col-12 form-group" data-for="name">
                            <input type="text" name="tweet" placeholder="Enter Your Tweet Text" data-form-field="tweet" class="form-control" id="name-form1-k">
                        </div>
                        
                        <div class="mbr-section-btn col-12 col-md-auto"><button type="submit" class="btn btn-primary display-4">Identify Your Dialect</button></div>
                    </div>
                </form>

                {% if dialect %}
                    <p style='text-align: center;margin-top: 15px;font-size: large;'>Your Dialect is: <b style="color: #b81032;">
                    {{ dialect }}</b>.</p>
                {% endif %}

            </div>
        </div>
    </div>
</section>

<section class="footer3 cid-s48P1Icc8J" once="footers" id="footer3-i">

    

    

    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="row row-links">
                <ul class="foot-menu">
                    
                    
                    
                    
                    
                 <li class="foot-menu-item mbr-fonts-style display-7"></li><li class="foot-menu-item mbr-fonts-style display-7"></li><li class="foot-menu-item mbr-fonts-style display-7"></li></ul>
            </div>
            <div class="row social-row">
                <div class="social-list align-right pb-2">
                    
                    
                    
                    
                    
                    
                <div class="soc-item">
                        <a href="https://twitter.com/Sebaie2" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://www.facebook.com/mohamed.sebaie2" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://www.linkedin.com/in/mohamedsebaie" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-linkedin socicon"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://github.com/MohamedSebaie" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-github socicon"></span>
                        </a>
                    </div></div>
            </div>
            <div class="row row-copirayt">
                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
                    © Copyright 2022 M.SEBAIE. All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
</section><section style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: flex;"><a href="https://mobirise.site/c" style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a><p style="flex: 0 0 auto; margin:0; padding-right:1rem;"><script src="static/popper/popper.min.js"></script>  <script src="../static/tether/tether.min.js"></script>  <script src="../static/bootstrap/js/bootstrap.min.js"></script>  <script src="../static/smoothscroll/smooth-scroll.js"></script>  <script src="../static/parallax/jarallax.min.js"></script>  <script src="../static/theme/js/script.js"></script>  <script src="../static/formoid/formoid.min.js"></script>  
  
  
</body>
</html>